* {
	margin: 0;
	padding: 0;
	font-family: Myriad Pro, sans-serif;
}

header {
	background: url(../img/background.png) no-repeat center top / cover;
	height: 580px;
}

.container {
	width: 1024px;
	margin: 0 auto;
}

nav {
	height: 88px;
	width: 100%;
	background-color: #ffffff;
}

.logo {
	margin: 24px 0px 20px 141px;
	float: left;
}

.menu {
	margin: 52px 174px 22px 0px;
	float: right;
	display: block;
}

.menu li {
	float: left;
	list-style-type: none;
	margin-right: 30px;
}

.menu a {
	color: #6c6c6c;
	text-decoration: none;
	font-size: 20px;
}

.phone {
	margin: 39px 0px 16px 63px;
	float: left;
}

.slider-text {
	float: right;
	color: #ffffff;
	margin-top: 156px;
	margin-right: 120px;
	padding-top: 26px;
}

.signup {
	margin-top: 37px;
	margin-left: 116px;
}

.logos {
	display: inline-block;
	align-items: center;
	margin: 67px 25px 94px 25px;
	text-align: center;
}

.logos__headline {
	color: #5094f2;
	font-size: 20px;
}

.logos__text {
	color: 909090;
	font-size: 14px;
}

h3 {
	margin: 0 0 33px 54px;
	color: #6f7173;
	font-size: 42px;
}

.cart__image {
	margin-left: 51px;
	float: left;
}

.cart__text {
	float: right;
	margin-left: 52px;
}

.cart__headline {
	font-size: 26px;
	color: #6f7173;
}

.cart {
	margin-bottom: 66px;
}
